<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav{
            background-color: black;
            padding:10px;
         
        }
        nav a{
            color:white;
            text-decoration: none;
            margin-right: 20px;
        }
    </style>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">about</a>
        <a href="/contact">Contact</a>
        <a href="/services">Services</a>
    </nav>
    <h1>Welcome to nodejs contact page</h1>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta labore veniam magni culpa distinctio quisquam eius, cupiditate, blanditiis sed pariatur deserunt officia, molestiae iusto quia praesentium tempore amet deleniti rem.</h4>
</body>
</html>